<div class="container ph-xl-margin-bottom">
  <div class="row">
    <div class="col-md-12">
      <h2 id="jobs">Jobs</h2>

      <h3 class="ph-heading-light">Join the PaperHive team</h3>
      <p>
        PaperHive is a software company in the field of scientific research and
        collaboration. After becoming a part of the Centre for Entrepreneurship
        incubator at the TU Berlin and receiving the EXIST startup grant, the
        company is releasing its product in early 2016.
      </p>
      <p>
        PaperHive is the coworking hub for researchers, aiming to support
        knowledge-creators in their work and to dramatically increase open
        collaboration in science.
      </p>
      <p>
        The Berlin-based startup-team consists of André and Nico
        (mathematicians, computer scientists, free-software and open-access
        enthusiasts) and Alexander (social entrepreneur, educator, business
        developer). We strive for high diversity in our team and encourage you
        to apply regardless of your (and our) identity.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="ph-heading-light">Junior backend developer
        <small>Node.js, MongoDB</small></h3>
      <p>
        As a backend developer you will extend the PaperHive REST API with us.
        We use Node.js 5 with fresh
        <a href="http://egorsmirnov.me/assets/berlin-angular-meetup-26/">ES2015</a>
        features that make asynchronous programming fun again – say goodbye to
        the callback hell and welcome generators and the yield keyword! Our
        middleware is <a href="https://github.com/koajs/koa">koa</a>
        (a better express.js) and our database is MongoDB.
      </p>
      <p>
        You can pick from several challenging tasks that we want to tackle
        together with you:
      </p>
      <ul>
        <li>efficient import/update/backup strategies of large datasets</li>
        <li>maintaining versioned documents for guaranteed citability</li>
        <li>full-text search integration with elasticsearch</li>
        <li>real-time updates via websockets</li>
        <li>transactions in a distributed database</li>
        <li>improve server infrastructure</li>
        <li ng-non-bindable>{{insert your idea here}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="ph-heading-light">Junior frontend developer
        <small>AngularJS</small></h3>
      <p>
        If you are a frontend developer you will have fun improving our
        AngularJS-based HTML5-frontend with our team. We like clean and
        testable code that is split into reusable directives that are released
        as free software (see
        <a href="https://github.com/paperhive">our Github profile</a>).
      </p>
      <p>
        Here are a few examples of tasks that we would like to accomplish with
        you:
      </p>
      <ul>
        <li>improve our PDF directive with efficient rendering through
          <a href="https://github.com/mozilla/pdf.js/">PDF.js</a></li>
        <li>develop rich filters for discussions</li>
        <li>optimize UI workflow for usability</li>
        <li>beautify discussion presentation with less/sass</li>
        <li ng-non-bindable>{{insert your idea here}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="ph-heading-light">Qualifications</h3>
      <p>
        At PaperHive, we need two team players to join our team in mid January
        who
      </p>
      <ul>
        <li>strive to learn and apply new concepts every day</li>
        <li>have 1-2 years of development experience with modern JavaScript (ES2015 is not a requirement, you can learn it on the go)</li>
        <li>have backend or frontend experience (both would also be great!)</li>
        <li>build reusable code with accompanying unit tests</li>
        <li>speak English or German fluently</li>
      </ul>
      <p>
        Knowledge of modern JavaScript frameworks is a plus (e.g., AngularJS
        for frontend and Node.js for backend).
      </p>
      <h3 class="ph-heading-light">Our offer</h3>
      <ul>
        <li>
          <strong>Create:</strong> Build innovative software using the
          frameworks of tomorrow.
        </li>
        <li>
          <strong>Grow:</strong> Learn from software engineers with a combined
          experience of more than 30 years.
        </li>
        <li>
          <strong>Team spirit:</strong> Work in a small, dynamic, and
          open-minded team that is driven by the enthusiasm for a cause with a
          global impact.
        </li>
        <li>
          <strong>Openness and flexibility:</strong> We are always open to
          progressive ideas in any direction. We’re not afraid of changing our
          codebase significantly if it pays off.
        </li>
        <li>
          <strong>Test-driven development:</strong> Code is only merged when
          unit tests and end-to-end tests pass.
        </li>
        <li>
          <strong>Entrepreneurial workplace:</strong> Experience the dynamic
          nature of a young startup based in Mitte (near Nordbahnhof, in the TU
          Gründungsinsel). Flora Mate and finest Italian espresso await you (if
          you’re into caffeine). We also cook delicious pasta.
        </li>
        <li>
          <strong>Appreciation and respect:</strong> Receive a fair salary for
          your work and a proper recognition for your results. Work part-time
          (40-80 hours per month) and enjoy a flexible working time.
        </li>
      </ul>
      <p>
        If you like buzzwords, here they are some of them: Node.js · AngularJS
        · MongoDB · elasticsearch · ES2015 · PDF.js · mathjax · bootstrap ·
        less · mongoose · ansible · github · slack · jenkins
      </p>
      <h3 class="ph-heading-light">Application details</h3>
      <p>
        Please email us (<a
          href="mailto:info@paperhive.org">info@paperhive.org</a>) a short CV
        before <code>2016-01-09T01:00:00Z</code>. If you want you can also send
        us a link to your GitHub profile and links to projects you've been
        involved with. We don't need a cover letter.
      </p>
    </div>
  </div>
</div>
