<!-- Header bar -->
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top"
    element-size="$root.navbarSize"
    role="navigation">
  <div class="container-fluid">
    <div class="navbar-header text-center">
      <!-- brand -->
      <a class="navbar-brand" style="position: absolute;width: 100%;left: 0;top: 0;text-align: center;margin: auto;" rel="home" href="./" title="PaperHive">
        <img src="./static/img/logo-hexagon-centered.svg">
      </a>
    </div>
  </div><!-- container-fluid -->
</div><!-- navbar -->
<div class="ph-navbar-shadow"><!-- #uglyhack: shadow z-index < subnav z-index -->
</div>
